@model Employee
<h2>Update Existing Employee</h2>
<h3 class="message">@ViewBag.Message</h3>
<form asp-controller="EmployeeManager"
      asp-action="Update"
      method="post">
    <table border="0"
           <tr>
               <td class="right">
                   <label asp-for="EmployeeID"></label> :
               </td>
                <td>
                    <input type="hidden" asp-for="EmployeeID" />
                    <span>@Model.EmployeeID</span>
                </td>
           </tr>
</form>
